#veryBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.ribbon {
  padding: 0;
  margin: 0;
  height: 20px;
  background-color: #453a21;
}

/*body {
  background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) ), url("jelly-cream-donut-background.gif");
  font-family: 'Comfortaa', cursive;
}*/

h1 {
  margin: 0;
  background-color: #F296AA;
  color: #453a21;
  text-align: center;
  /*text-shadow: -1px 0 #71db71, 0 1px #71db71, 1px 0 #71db71, 0 -1px #71db71;*/
  font-size: 500%;
  font-family: 'Oleo Script', cursive;
}

h3 {
  margin: 0;
  margin-top: -28px;
  color: #F296AA;
  text-align: center;
  /*text-shadow: -1px 0 #453a21, 0 1px #453a21, 1px 0 #453a21, 0 -1px #453a21;*/
  font-size: 100%;
  font-family: 'Corben';
}
